name: build-and-push

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          $TAG="v${{ github.run_number }}"
          docker build -t ghcr.io/${{ github.repository_owner }}/fivem-windows-fxserver:latest `
                       -t ghcr.io/${{ github.repository_owner }}/fivem-windows-fxserver:$TAG .

      - name: Push image
        run: |
          $TAG="v${{ github.run_number }}"
          docker push ghcr.io/${{ github.repository_owner }}/fivem-windows-fxserver:latest
          docker push ghcr.io/${{ github.repository_owner }}/fivem-windows-fxserver:$TAG
